* {
    box-sizing: border-box;
    border: 1px solid purple;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}

header, footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #464283;
}

header {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: lavender;
}

nav {
    background-color: #464283;
    color: #ffffff;
}

nav div {
    padding-top: 0px;
    margin-right: 15px;
    font-size: 20px;
}

nav div ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-left: 25px;
}

h1, h2, footer, figcaption {
    display: flex;
    justify-content: center;
}
footer {
    color: #ffffff;
    font-size: 15px;
}